.imgWrap {
  & .mainCookie {
    width: 30vmin;
    height: 30vmin;
    background-color: #e9a252;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
    transition: 0.1s;
    cursor: pointer;
    position: relative;
    border: 1vmin solid black;
    &:active {
      transform: scale(.95);
    }
    .chip {
      background-color: #442813;
      width: 3vmin;
      height: 3vmin;
      border-radius: 100%;
      position: absolute;
      border: 0.5vmin solid black;
      &1 {
        top: 20vmin;
        left: 10vmin;
      }
      &2 {
        top: 10vmin;
        left: 20vmin;
      }
      &3 {
        top: 9vmin;
        left: 11vmin;
      }
      &4 {
        top: 15vmin;
        left: 7vmin;
      }
      &5 {
        top: 3vmin;
        left: 19vmin;
      }
      &6 {
        top: 22vmin;
        left: 22vmin;
      }
      &7 {
        top: 3vmin;
        left: 5vmin;
      }
      &8 {
        top: 20vmin;
        left: 4vmin;
      }
    }
  }
}

body {
  margin: 0;
  display: flex;
  overflow: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

ul {
  list-style-type: none;
  li {
    list-style-type: none;
  }
}

p {
  text-align: center;
  margin: 10px;
  font-family: raleway;
  font-size: 4vmin;
}

.pointer {
  width: 10vmin;
}

.wrap {
  width: 50vw;
  height: 100vh;
  padding: 0;
  & li {
    display: flex;
    height: 15vh;
    padding: 2.5vh;
    border: 1px solid black;
    margin: 0;
    & img {
      height: 15vh;
    }
    & h1 {
      margin: 0;
    }
  }
}

.main {
  border-right: 1px solid black;
}

.shop {
  overflow-y: scroll;
  padding: 0;
  & button {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: quicksand;
    font-size: 3vmin;
    background-color: transparent;
    border-radius: 2px;
    border: 1px solid black;
    outline: none;
    cursor: pointer;
    &:active {
      border: 1px solid #222;
    }
    &.active {
      background-color: rgba(0, 255, 0, 0.5);
      color: white;
    }
  }
  & p {
    font-size: 2vmin;
    font-family: roboto slab;
  }
}

@media (max-width: 500px){
  body {
    display: block;
  }
  .mainCookie {
    transform: scale(1.5);
    top: 17vh;
    position: absolute;
    &:active {
      transform: scale(1.425);
    }
  }
  #cookies {
    position: absolute;
  }
  #messages {
    display: none;
  }
  .wrap {
    height: 60vh;
    width: 100vmin;
  }
  .main {
    height: 40vh;
    border: none;
  }
  p {
    font-size: 2em;
  }
  .shop p {
    font-size: 1em;
  }
  .shop button {
    font-size: 2em;
  }
}